// About Component

.about {
    max-height: 90vh;
    padding: 0 25px;
    border-bottom: 1px solid $gray;
    position: relative;
    overflow: scroll;
    display: flex;
    transform: rotateX(90deg);
    transform-origin: top; 
    transition: transform 1s, height .5s;
    flex-wrap: wrap;
    
    @include at-laptop {
        flex-wrap: nowrap;
        max-height: 555px;
    }

    &--open{
        transform: rotateX(0deg);
        height: 80vh;

        @include at-laptop {
            height: 555px;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            background: rgb(227,228,230);
            background: linear-gradient(0deg, rgba(227,228,230,0) 0%, rgba(255,255,255,0.97) 100%);
            height: 25px;
            width: 100%;
            z-index: 9;
        }
        // transition-delay:0.25s, 0s;
    }

    &--close{
        transform: rotateX(90deg);
        height: 0;
        transition-delay:0s, 0.25s;
    }

    &__bio {
        width: 100%;
        min-height: 100%;
        overflow: scroll;

        @include at-laptop {
            width: 33.33%;
            border-right: 4px solid $gray;
            padding-right: 25px;
        }
    }

    &__bio-header {
        padding-top: 25px;
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin-bottom: 40px;

        p {
            color: $gray-light;
        }
    }

    &__bio-bio {
        padding-bottom: 120px;

        @include at-laptop {
            min-height: 100%;
        }

        p {
            margin-bottom: 1.6rem;

            &:last-of-type {
                margin-bottom: 100%;
            }
        }
    }

    &__links {
        bottom: 45px;
        left: 25px;
        position: absolute;
        width: calc(100% - 50px);

        @include at-laptop {
            width: calc(33% - 42px);
        }

    }

    &__links-container {
        display: flex;
        justify-content: space-between;
    }

    &__links-development {
        display: flex;
        column-gap: 10px;

        @include at-desktop {
            column-gap: 60px;
        }
    }

    &__intrests {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 50px;

        @include at-laptop {
            width: 66.66%;
            padding: 0 0 25px 25px;
        }
    }

    &__intrests-top {
        margin-bottom: 100px;

        @include at-laptop {
            margin-bottom: 0;
        }
    }

    &__intrests-header {
        display: flex;
        padding-top: 25px;
        margin-bottom: 45px;

        p {
            color: $gray-light;

            &:nth-child(1) {
                width: 33.33%;

                @include at-laptop {
                    width: 30%;
                }
            }
            &:nth-child(2) {
                width: 33.33%;

                @include at-laptop {
                    width: 35%;
                }
            }
            &:nth-child(3) {
                width: 33.33%;

                @include at-laptop {
                    width: 32%;
                }
            }
        }
    }

    &__intrests-body {
        display: flex;
        column-gap: 20px;

        @include at-laptop {
            column-gap: unset;
        }
    
        div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include at-laptop {
                display: unset;
                flex-direction: unset;
                justify-content: unset;
            }

            &:nth-child(1) {
                width: 33.33%;

                @include at-laptop {
                    width: 30%;
                }
            }
            &:nth-child(2) {
                width: 33.33%;

                @include at-laptop {
                    width: 35%;
                }
            }
            &:nth-child(3) {
                width: 33.33%;

                @include at-laptop {
                    width: 32%;
                }
            }
        }

        a {
            display: block;
        }

        p,
        a {
            margin-bottom: 15px;

            @include at-laptop {
                margin-bottom: 0;
            }
        }

    }

    &__intrests-subheader {
        margin-bottom: 45px;
    }
}