// Header Component

.header {
    padding: 25px;
    width: 100%;
    display: flex;
    align-content: center;
    border-bottom: 1px solid $gray;
    justify-content: space-between;

    @include at-desktop {
        justify-content: flex-start;
    }

    &__left {
        display: flex;
        position: relative;

        @include at-desktop {
            width: 33.33%;
        }

        p {
            margin-right: 55px;
            position: relative;
        
            @include at-desktop {
                margin-right: 95px;
            }
        }

        button {
            font-size: 1.5rem;
            line-height: 0;
            transition: opacity 500ms ease;

            &.hide {
                display: none;
            }

        }
    }

    &__right {
        display: flex;

        @include at-desktop {
            width: 66.66%;
            padding-left: 25px;
        }

        p{
            &:nth-child(2) {
                margin-right: 10px;

                @include at-desktop {
                    width: 35%;
                    margin-right: 0;
                }
            }
            &:nth-child(3) {
                display: none;
                @include at-desktop {
                    width: 32%;
                    display: block;
                }
            }
        }

        button {
            margin-top: 0px;
        }
    }

    &__availability {
        display: none;

        @include at-desktop {
            width: 30%;
            position: relative;
            display: block;
        }

        p {
            transition: opacity 500ms ease-in-out;

            &:first-child {
                position: absolute;
                top: 0;
                left: 0;
                width: 150px !important;
            }

            &:last-child {
                opacity: 0;
                visibility: hidden;
                width: auto !important;
            }
            
        }

        &:hover {
            p{
                &:first-child {
                    opacity: 0;
                    visibility: 0;
                }
                &:last-child {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

    }
}

