// Base Styles

html {
	box-sizing: border-box;
	font-size: 10px;
	line-height: 1.5;
	font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color
}

*,
*::before,
*::after {
	box-sizing: inherit;
}


body {
    font-size: 1.5rem;
	margin: 0;
    line-height: inherit;

    &.dark-mode {
        color: $white;
        background-color: $black;
        border-color: $gray-darkmode;

		.projects__title-container {
			background-color: $black;
		}

		.projects__description-info-body p:first-of-type,
		.projects__description-info-body p{
			color: #ffffff;
		}

		.about--open::before {
			background: rgb(0, 0, 0);
			background: linear-gradient(0deg, rgba(227, 228, 230, 0) 0%, rgba(0, 0, 0, 0.97) 100%);
		}
    }
}

button {
	background-color: transparent;
	color: inherit;
	border-width: 0;
	line-height: inherit;
	letter-spacing: inherit;
	padding: 0;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit
}

blockquote,dd,dl,figure,h1,h2,h3,h4,h5,h6,hr,p,pre {
    margin: 0
}